li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

header {
  text-align: center;
}

body {
  background-color: rgba(243, 186, 0, 0.918);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  color: red;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
